<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.DeptMapper">
    <resultMap id="Dept_base_resultmap" type="com.mybatis.pojo.Dept">
        <id column="deptno" property="deptno"/>
        <result column="dname" property="dname"/>
        <result column="location" property="location"/>
    </resultMap>
    <select id="getDept" resultMap="Dept_base_resultmap" parameterType="_int">
        select * from dept where deptno=#{deptno}
    </select>
</mapper>